
BODY {
	-webkit-font-smoothing: antialiased;
	font-weight: $theme-font-weight;
}

// get rid of ugly empty folder nav butons
.mt-tab-titles-bar .mt-tab-previous, .mt-tab-titles-bar .mt-tab-next{ 
	width: 1px; 
}

// get rid of ugly empty toolbar nav butons
.gbc_ToolBarWidget .mt-tab-previous, .gbc_ToolBarWidget .mt-tab-next {
	width: 20px; 
	&.vanished { 
		width: 1px; 
	}
}

// get rid of bookmarks option
.gbc_ChromeBarItemBookmarkWidget, .gbc_ApplicationHostMenuBookmarkWidget {
	display: none !important;
}

// remove the box shadows from fields.
.mt-field {
	box-shadow: none;	
}

.mt-tab-titles-container[__FolderWidget=top] .mt-tab-title.mt-tab-current {
	border-bottom: 2px solid $mt-button-primary-background-color;
}

.mt-field.gbc_Focus {
	border-left: 1px solid $mt-field-border-color;
	border-right: 1px solid $mt-field-border-color;
	border-top: 1px solid $mt-field-border-color;
	border-bottom: 2px solid $mt-button-primary-background-color;
	box-shadow: none;	
}

.mt-button {
	border: 1px solid $njm-button-border-color;
	box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.14);
}
.gbc_ButtonWidget.gbc_Focus > .mt-button {
	background-color: $mt-button-primary-emphasis-background-color;
}

.gbc_ButtonEditWidget, .gbc_DummyButtonEditWidget {
	.mt-button {
		background-color: transparent;
		border-left: 0px solid $mt-field-border-color;
		border-top: 1px solid $mt-field-border-color;
		border-bottom: 1px solid $mt-field-border-color;
		border-right: 1px solid $mt-field-border-color;
		.textimage > .gbc_imageContainer > .gbc_ImageWidget {
			fill: $palette-text-secondary;
		}
	}
}

.gbc_ButtonEditWidget.gbc_Focus > .gbc_EditWidget, .gbc_DummyButtonEditWidget.gbc_Focus > .gbc_EditWidget {
	border-right: 0px solid $mt-field-border-color;
	border-left: 1px solid $mt-field-border-color;
	border-top: 1px solid $mt-field-border-color;
	border-bottom: 2px solid $mt-button-primary-background-color;
	box-shadow: none;	
}

.gbc_ButtonEditWidget .mt-field, .gbc_DummyButtonEditWidget .mt-field {
	border-right: 0px solid $mt-field-border-color;
}


.gbc_ToolBarItemWidget {
	padding: $njm-toolbar-padding;
}

.mt-progress{
	border: 1px solid $njm-button-border-color;
	padding: 1px;
	margin: 2px
}

.gbc_ListViewWidget .currentRow {
	background-color: $theme-currentrow-background-color;
	color: $theme-currentrow-color;
	fill: $theme-currentrow-color;
}

.zmdi-calendar-blank:before {
	content: "\F0ED";
}

// Fix problem with checkbox text alignment
.gbc_CheckBoxWidget .label, .gbc_ThreeStateCheckBoxWidget .label {
	display: contents;
}

.gbc_style_curvedborder {
	border: 1px solid $njm-button-border-color;
	border-radius: 15px;
	padding: 2px;
}

.gbc_GroupTitleWidget {
	background-color: $palette-primary-600;
	color: $mt-white;
}
