
/////////////////////////////////////////////////////////////////
// NJM Demos specific change
.gbc_style_curvedborder {
	border: 1px solid $njm-button-border-color;
	border-radius: 1rem;
	padding: 2px;
}


